@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Review</title>
</head>
<body>
    <div>
        fsdfsfsd
    </div>
</body>
</html>
